.input-box {
  margin: 50px;  
}

input {
  line-height: 2em;
  font-size: large;
  border-radius: 5px;
}

button {
  line-height: 2em;
  font-size: large;
  margin-left: 10px;
  border-radius: 5px;
}
