.input-box-container {
  margin-top: 25vh; 
}

.input-box {
  background: rgb(228, 228, 255);
  border-radius: 10px;
  border: 1px solid rgb(126, 126, 126);
  margin: 50px auto;
  padding: 35px 50px;
  width: 500px;
}

.input-text {
  padding: 0;
}

input {
  line-height: 2em;
  font-size: large;
  border-radius: 5px;
}

button {
  line-height: 2em;
  font-size: large;
  margin-left: 10px;
  border-radius: 5px;
}

.answer {
  margin-top: 15px;
}