html {
  background: url(https://images.unsplash.com/photo-1564939558297-fc396f18e5c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1351&q=80);
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
}
.App {
  text-align: center;
}

